<!DOCTYPE html>
<html>
    <head>
        <title>Articles</title>
        {% include "html_header.html" %}
        <link rel="stylesheet" href="/articles/assets/articles.css">
    </head>
    <body>
        <div class="jumbotron jumbotron-fluid blog-banner">
          <div class="container">
            <h1 class="display-4">Example blog</h1>
            <p class="lead">This is an example of bootstrap based blog served by a rust backend.</p>
            <hr>
            <p>You can add new article using the following add button</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg button-add" href="articles/new" role="button">+</a>
            </p>
          </div>
        </div>
        <div class="articles-container container-fluid">
          {% for article in articles %}
            <div class="row">
              <div class="article col-lg-10 col-md-10 .col-sm-12 col-xs-12">
                <div>
                  <span>
                    <a class="title" href="articles/{{article.id}}">
                      {{article.title}}
                    </a>
                  </span>
                </div>
                <div>
                  <span class="statistics">
                    published {{article.published_str}} ago, last edited {{article.edited_str}} ago
                  </span>
                </div>
                <div class="description-container">
                  <span class="description">
                    {{article.description}}
                  </span>
                </div>
                <div>
                  <span>
                    <a class="more-link" href="articles/{{article.id}}">Read more →</a>
                  </span>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
    </body>
</html>
