<!DOCTYPE html>
<html>
    <head>
        {% include "html_header.html" %}
        <link rel="stylesheet" href="/articles/assets/new.css">
        <title>Create article</title>
    </head>
    <body>
      <div class="jumbotron jumbotron-fluid blog-banner">
        <div class="container">
          <h1 class="display-4">Create a new article</h1>
          <p class="lead">The content section is markdown based.</p>
        </div>
      </div>
      <div class="container">
        <form id="createform" action="" method="post">
          <div class="form-group">
            <label for="title">Article title</label>
            <input name="title" type="text" class="form-control" aria-describedby="titleNote" placeholder="Enter article title" required="required">
            <small id="titleNote" class="form-text text-muted">plain text only.</small>
          </div>
          <div class="form-group">
            <label for="description">Article description</label>
            <textarea name="description" rows="5" class="form-control" aria-describedby="descriptionNote" placeholder="Enter article description" required="required"></textarea>
            <small id="descriptionNote" class="form-text text-muted">plain text only.</small>
          </div>
          <div class="form-group">
            <label for="content">Article content</label>
            <textarea name="content" rows="15" class="form-control" aria-describedby="contentNote" placeholder="Enter article content" required="required"></textarea>
            <small id="contentNote" class="form-text text-muted">plain text or markdown.</small>
          </div>
          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </body>
    </div>
</html>
